.misa198-code-color-theme-cobalt .highlight {
  background: #002240 !important;
}
.misa198-code-color-theme-cobalt .blob-num,
.misa198-code-color-theme-cobalt .blob-code-inner,
.misa198-code-color-theme-cobalt .pl-en {
  color: #fff !important;
}
.misa198-code-color-theme-cobalt .pl-mb,
.misa198-code-color-theme-cobalt .pl-mh .pl-en {
  font-weight: 700 !important;
}
.misa198-code-color-theme-cobalt .pl-c,
.misa198-code-color-theme-cobalt .pl-c span,
.misa198-code-color-theme-cobalt .pl-mi {
  font-style: italic !important;
}
.misa198-code-color-theme-cobalt .pl-ent,
.misa198-code-color-theme-cobalt .pl-v {
  color: #fd0 !important;
}
.misa198-code-color-theme-cobalt .pl-mh,
.misa198-code-color-theme-cobalt .pl-mh .pl-en,
.misa198-code-color-theme-cobalt .pl-sr .pl-cce {
  color: #eb939a !important;
}
.misa198-code-color-theme-cobalt .pl-pds,
.misa198-code-color-theme-cobalt .pl-s,
.misa198-code-color-theme-cobalt .pl-s1,
.misa198-code-color-theme-cobalt .pl-s1 .pl-pse .pl-s2,
.misa198-code-color-theme-cobalt .pl-s1 .pl-v {
  color: #3ad900 !important;
}
.misa198-code-color-theme-cobalt .pl-s1 .pl-s2,
.misa198-code-color-theme-cobalt .pl-smi,
.misa198-code-color-theme-cobalt .pl-smp,
.misa198-code-color-theme-cobalt .pl-stj,
.misa198-code-color-theme-cobalt .pl-vo,
.misa198-code-color-theme-cobalt .pl-vpf {
  color: #ccc !important;
}
.misa198-code-color-theme-cobalt .pl-s3,
.misa198-code-color-theme-cobalt .pl-sc {
  color: #ffb054 !important;
}
.misa198-code-color-theme-cobalt .pl-sr,
.misa198-code-color-theme-cobalt .pl-sr .pl-sra,
.misa198-code-color-theme-cobalt .pl-sr .pl-sre,
.misa198-code-color-theme-cobalt .pl-src {
  color: #80ffc2 !important;
}
.misa198-code-color-theme-cobalt .pl-mdht,
.misa198-code-color-theme-cobalt .pl-mi1 {
  color: #f8f8f8 !important;
  background: rgba(0, 64, 0, 0.5) !important;
}
.misa198-code-color-theme-cobalt .pl-id,
.misa198-code-color-theme-cobalt .pl-ii,
.misa198-code-color-theme-cobalt .pl-md,
.misa198-code-color-theme-cobalt .pl-mdhf {
  color: #f8f8f8 !important;
  background: #800f00 !important;
}
.misa198-code-color-theme-cobalt .highlight-source-js .pl-st {
  color: #ffee80 !important;
}
.misa198-code-color-theme-cobalt .highlight-source-css .pl-s3 {
  color: #80ffbb !important;
}
.misa198-code-color-theme-cobalt .highlight-text-html-basic .pl-ent {
  color: #9effff !important;
}
.misa198-code-color-theme-cobalt .pl-c,
.misa198-code-color-theme-cobalt .pl-c span,
.misa198-code-color-theme-cobalt .pl-mq {
  color: #08f !important;
}
.misa198-code-color-theme-cobalt .pl-c1,
.misa198-code-color-theme-cobalt .pl-sv,
.misa198-code-color-theme-cobalt .pl-mb {
  color: #ff628c !important;
}
.misa198-code-color-theme-cobalt .pl-e,
.misa198-code-color-theme-cobalt .pl-k,
.misa198-code-color-theme-cobalt .pl-mdh,
.misa198-code-color-theme-cobalt .pl-mdr,
.misa198-code-color-theme-cobalt .pl-ml,
.misa198-code-color-theme-cobalt .pl-mm,
.misa198-code-color-theme-cobalt .pl-mo,
.misa198-code-color-theme-cobalt .pl-mp,
.misa198-code-color-theme-cobalt .pl-mr,
.misa198-code-color-theme-cobalt .pl-ms,
.misa198-code-color-theme-cobalt .pl-st,
.misa198-code-color-theme-cobalt .pl-mi {
  color: #ff9d00 !important;
}
