.misa198-code-color-theme-idle-fingers .highlight {
  background: #323232 !important;
}
.misa198-code-color-theme-idle-fingers .blob-num,
.misa198-code-color-theme-idle-fingers .blob-code-inner,
.misa198-code-color-theme-idle-fingers .pl-s2,
.misa198-code-color-theme-idle-fingers .pl-stj,
.misa198-code-color-theme-idle-fingers .pl-vo,
.misa198-code-color-theme-idle-fingers .pl-id,
.misa198-code-color-theme-idle-fingers .pl-ii {
  color: #fff !important;
}
.misa198-code-color-theme-idle-fingers .pl-enti,
.misa198-code-color-theme-idle-fingers .pl-mb,
.misa198-code-color-theme-idle-fingers .pl-pdb {
  font-weight: 700 !important;
}
.misa198-code-color-theme-idle-fingers .pl-c,
.misa198-code-color-theme-idle-fingers .pl-c span,
.misa198-code-color-theme-idle-fingers .pl-pdc {
  color: #bc9458 !important;
  font-style: italic !important;
}
.misa198-code-color-theme-idle-fingers .pl-c1,
.misa198-code-color-theme-idle-fingers .pl-pdc1,
.misa198-code-color-theme-idle-fingers .pl-scp {
  color: #6c99bb !important;
}
.misa198-code-color-theme-idle-fingers .pl-ent,
.misa198-code-color-theme-idle-fingers .pl-eoa,
.misa198-code-color-theme-idle-fingers .pl-eoai,
.misa198-code-color-theme-idle-fingers .pl-eoai .pl-pde,
.misa198-code-color-theme-idle-fingers .pl-ko,
.misa198-code-color-theme-idle-fingers .pl-kolp,
.misa198-code-color-theme-idle-fingers .pl-mc,
.misa198-code-color-theme-idle-fingers .pl-mr,
.misa198-code-color-theme-idle-fingers .pl-ms,
.misa198-code-color-theme-idle-fingers .pl-s3,
.misa198-code-color-theme-idle-fingers .pl-sok {
  color: #ffe5bb !important;
}
.misa198-code-color-theme-idle-fingers .pl-mdh,
.misa198-code-color-theme-idle-fingers .pl-mdi,
.misa198-code-color-theme-idle-fingers .pl-mdr {
  font-weight: 400 !important;
}
.misa198-code-color-theme-idle-fingers .pl-mi,
.misa198-code-color-theme-idle-fingers .pl-pdi {
  color: #ffe5bb !important;
  font-style: italic !important;
}
.misa198-code-color-theme-idle-fingers .pl-sra,
.misa198-code-color-theme-idle-fingers .pl-src,
.misa198-code-color-theme-idle-fingers .pl-sre {
  color: #cc3 !important;
}
.misa198-code-color-theme-idle-fingers .pl-mdht,
.misa198-code-color-theme-idle-fingers .pl-mi1 {
  color: #a5c261 !important;
  background: rgba(0, 64, 0, 0.5) !important;
}
.misa198-code-color-theme-idle-fingers .pl-md,
.misa198-code-color-theme-idle-fingers .pl-mdhf {
  color: #b83426 !important;
  background: rgba(64, 0, 0, 0.5) !important;
}
.misa198-code-color-theme-idle-fingers .pl-ib,
.misa198-code-color-theme-idle-fingers .pl-id,
.misa198-code-color-theme-idle-fingers .pl-ii,
.misa198-code-color-theme-idle-fingers .pl-iu {
  background: #b83426 !important;
}
.misa198-code-color-theme-idle-fingers .pl-ms1 {
  background: #ffc66d !important;
}
.misa198-code-color-theme-idle-fingers .highlight-text-html-basic .pl-ent,
.misa198-code-color-theme-idle-fingers .pl-cce,
.misa198-code-color-theme-idle-fingers .pl-cn,
.misa198-code-color-theme-idle-fingers .pl-coc,
.misa198-code-color-theme-idle-fingers .pl-enc,
.misa198-code-color-theme-idle-fingers .pl-ens,
.misa198-code-color-theme-idle-fingers .pl-k,
.misa198-code-color-theme-idle-fingers .pl-kos,
.misa198-code-color-theme-idle-fingers .pl-kou,
.misa198-code-color-theme-idle-fingers .pl-mh .pl-pdh,
.misa198-code-color-theme-idle-fingers .pl-mp,
.misa198-code-color-theme-idle-fingers .pl-mp .pl-s3,
.misa198-code-color-theme-idle-fingers .pl-mp1 .pl-sf,
.misa198-code-color-theme-idle-fingers .pl-mq,
.misa198-code-color-theme-idle-fingers .pl-mri,
.misa198-code-color-theme-idle-fingers .pl-pde,
.misa198-code-color-theme-idle-fingers .pl-pse,
.misa198-code-color-theme-idle-fingers .pl-pse .pl-s2,
.misa198-code-color-theme-idle-fingers .pl-s,
.misa198-code-color-theme-idle-fingers .pl-st,
.misa198-code-color-theme-idle-fingers .pl-stp,
.misa198-code-color-theme-idle-fingers .pl-sv,
.misa198-code-color-theme-idle-fingers .pl-v,
.misa198-code-color-theme-idle-fingers .pl-va,
.misa198-code-color-theme-idle-fingers .pl-vi,
.misa198-code-color-theme-idle-fingers .pl-vpf,
.misa198-code-color-theme-idle-fingers .pl-vpu,
.misa198-code-color-theme-idle-fingers .pl-mdr {
  color: #cc7833 !important;
}
.misa198-code-color-theme-idle-fingers .pl-cos,
.misa198-code-color-theme-idle-fingers .pl-ml,
.misa198-code-color-theme-idle-fingers .pl-pds,
.misa198-code-color-theme-idle-fingers .pl-s1,
.misa198-code-color-theme-idle-fingers .pl-sol,
.misa198-code-color-theme-idle-fingers .pl-mb,
.misa198-code-color-theme-idle-fingers .pl-pdb {
  color: #a5c261 !important;
}
.misa198-code-color-theme-idle-fingers .pl-e,
.misa198-code-color-theme-idle-fingers .pl-en,
.misa198-code-color-theme-idle-fingers .pl-entl,
.misa198-code-color-theme-idle-fingers .pl-mo,
.misa198-code-color-theme-idle-fingers .pl-sc,
.misa198-code-color-theme-idle-fingers .pl-sf,
.misa198-code-color-theme-idle-fingers .pl-smi,
.misa198-code-color-theme-idle-fingers .pl-smp,
.misa198-code-color-theme-idle-fingers .pl-mdh,
.misa198-code-color-theme-idle-fingers .pl-mdi {
  color: #ffc66d !important;
}
.misa198-code-color-theme-idle-fingers .pl-ef,
.misa198-code-color-theme-idle-fingers .pl-enf,
.misa198-code-color-theme-idle-fingers .pl-enm,
.misa198-code-color-theme-idle-fingers .pl-entc,
.misa198-code-color-theme-idle-fingers .pl-entm,
.misa198-code-color-theme-idle-fingers .pl-eoac,
.misa198-code-color-theme-idle-fingers .pl-eoac .pl-pde,
.misa198-code-color-theme-idle-fingers .pl-eoi,
.misa198-code-color-theme-idle-fingers .pl-mai .pl-sf,
.misa198-code-color-theme-idle-fingers .pl-mm,
.misa198-code-color-theme-idle-fingers .pl-pdv,
.misa198-code-color-theme-idle-fingers .pl-smc,
.misa198-code-color-theme-idle-fingers .pl-som,
.misa198-code-color-theme-idle-fingers .pl-sr,
.misa198-code-color-theme-idle-fingers .pl-enti {
  color: #b83426 !important;
}
