.misa198-code-color-theme-monokai .highlight {
  background: #272822 !important;
}
.misa198-code-color-theme-monokai .blob-num,
.misa198-code-color-theme-monokai .blob-code-inner,
.misa198-code-color-theme-monokai .pl-s2,
.misa198-code-color-theme-monokai .pl-stj {
  color: #f8f8f2 !important;
}
.misa198-code-color-theme-monokai .pl-c1 {
  color: #ae81ff !important;
}
.misa198-code-color-theme-monokai .pl-enti {
  color: #a6e22e !important;
  font-weight: 700 !important;
}
.misa198-code-color-theme-monokai .pl-st {
  color: #66d9ef !important;
}
.misa198-code-color-theme-monokai .pl-mdr {
  color: #66d9ef !important;
  font-weight: 400 !important;
}
.misa198-code-color-theme-monokai .pl-ms1 {
  background: #fd971f !important;
}
.misa198-code-color-theme-monokai .pl-c,
.misa198-code-color-theme-monokai .pl-c span,
.misa198-code-color-theme-monokai .pl-pdc {
  color: #75715e !important;
  font-style: italic !important;
}
.misa198-code-color-theme-monokai .pl-cce,
.misa198-code-color-theme-monokai .pl-cn,
.misa198-code-color-theme-monokai .pl-coc,
.misa198-code-color-theme-monokai .pl-enc,
.misa198-code-color-theme-monokai .pl-ens,
.misa198-code-color-theme-monokai .pl-kos,
.misa198-code-color-theme-monokai .pl-kou,
.misa198-code-color-theme-monokai .pl-mh .pl-pdh,
.misa198-code-color-theme-monokai .pl-mp,
.misa198-code-color-theme-monokai .pl-mp1 .pl-sf,
.misa198-code-color-theme-monokai .pl-mq,
.misa198-code-color-theme-monokai .pl-pde,
.misa198-code-color-theme-monokai .pl-pse,
.misa198-code-color-theme-monokai .pl-pse .pl-s2,
.misa198-code-color-theme-monokai .pl-mp .pl-s3,
.misa198-code-color-theme-monokai .pl-smi,
.misa198-code-color-theme-monokai .pl-stp,
.misa198-code-color-theme-monokai .pl-sv,
.misa198-code-color-theme-monokai .pl-v,
.misa198-code-color-theme-monokai .pl-vi,
.misa198-code-color-theme-monokai .pl-vpf,
.misa198-code-color-theme-monokai .pl-mri,
.misa198-code-color-theme-monokai .pl-va,
.misa198-code-color-theme-monokai .pl-vpu {
  color: #66d9ef !important;
}
.misa198-code-color-theme-monokai .pl-cos,
.misa198-code-color-theme-monokai .pl-ml,
.misa198-code-color-theme-monokai .pl-pds,
.misa198-code-color-theme-monokai .pl-s,
.misa198-code-color-theme-monokai .pl-s1,
.misa198-code-color-theme-monokai .pl-sol {
  color: #e6db74 !important;
}
.misa198-code-color-theme-monokai .pl-e,
.misa198-code-color-theme-monokai .pl-ef,
.misa198-code-color-theme-monokai .pl-en,
.misa198-code-color-theme-monokai .pl-enf,
.misa198-code-color-theme-monokai .pl-enm,
.misa198-code-color-theme-monokai .pl-entc,
.misa198-code-color-theme-monokai .pl-entm,
.misa198-code-color-theme-monokai .pl-eoac,
.misa198-code-color-theme-monokai .pl-eoac .pl-pde,
.misa198-code-color-theme-monokai .pl-eoi,
.misa198-code-color-theme-monokai .pl-mai .pl-sf,
.misa198-code-color-theme-monokai .pl-mm,
.misa198-code-color-theme-monokai .pl-pdv,
.misa198-code-color-theme-monokai .pl-som,
.misa198-code-color-theme-monokai .pl-sr,
.misa198-code-color-theme-monokai .pl-vo {
  color: #a6e22e !important;
}
.misa198-code-color-theme-monokai .pl-ent,
.misa198-code-color-theme-monokai .pl-eoa,
.misa198-code-color-theme-monokai .pl-eoai,
.misa198-code-color-theme-monokai .pl-eoai .pl-pde,
.misa198-code-color-theme-monokai .pl-k,
.misa198-code-color-theme-monokai .pl-ko,
.misa198-code-color-theme-monokai .pl-kolp,
.misa198-code-color-theme-monokai .pl-mc,
.misa198-code-color-theme-monokai .pl-mr,
.misa198-code-color-theme-monokai .pl-ms,
.misa198-code-color-theme-monokai .pl-s3,
.misa198-code-color-theme-monokai .pl-smc,
.misa198-code-color-theme-monokai .pl-smp,
.misa198-code-color-theme-monokai .pl-sok,
.misa198-code-color-theme-monokai .pl-sra,
.misa198-code-color-theme-monokai .pl-src,
.misa198-code-color-theme-monokai .pl-sre {
  color: #f92672 !important;
}
.misa198-code-color-theme-monokai .pl-mb,
.misa198-code-color-theme-monokai .pl-pdb {
  color: #e6db74 !important;
  font-weight: 700 !important;
}
.misa198-code-color-theme-monokai .pl-mi,
.misa198-code-color-theme-monokai .pl-pdi {
  color: #f92672 !important;
  font-style: italic !important;
}
.misa198-code-color-theme-monokai .pl-pdc1,
.misa198-code-color-theme-monokai .pl-scp {
  color: #ae81ff !important;
}
.misa198-code-color-theme-monokai .pl-sc,
.misa198-code-color-theme-monokai .pl-sf,
.misa198-code-color-theme-monokai .pl-mo,
.misa198-code-color-theme-monokai .pl-entl {
  color: #fd971f !important;
}
.misa198-code-color-theme-monokai .pl-mi1,
.misa198-code-color-theme-monokai .pl-mdht {
  color: #a6e22e !important;
  background: rgba(0, 64, 0, 0.5) !important;
}
.misa198-code-color-theme-monokai .pl-md,
.misa198-code-color-theme-monokai .pl-mdhf {
  color: #f92672 !important;
  background: rgba(64, 0, 0, 0.5) !important;
}
.misa198-code-color-theme-monokai .pl-mdh,
.misa198-code-color-theme-monokai .pl-mdi {
  color: #a6e22e !important;
  font-weight: 400 !important;
}
.misa198-code-color-theme-monokai .pl-ib,
.misa198-code-color-theme-monokai .pl-id,
.misa198-code-color-theme-monokai .pl-ii,
.misa198-code-color-theme-monokai .pl-iu {
  background: #a6e22e !important;
  color: #272822 !important;
}
