.misa198-code-color-theme-one-dark .highlight {
  background: #141414 !important;
}
.misa198-code-color-theme-one-dark .blob-num,
.misa198-code-color-theme-one-dark .blob-code-inner,
.misa198-code-color-theme-one-dark .highlight,
.misa198-code-color-theme-one-dark .pl-enm,
.misa198-code-color-theme-one-dark .pl-ko,
.misa198-code-color-theme-one-dark .pl-mo,
.misa198-code-color-theme-one-dark .pl-mp1 .pl-sf,
.misa198-code-color-theme-one-dark .pl-ms,
.misa198-code-color-theme-one-dark .pl-pdc1,
.misa198-code-color-theme-one-dark .pl-scp,
.misa198-code-color-theme-one-dark .pl-smc,
.misa198-code-color-theme-one-dark .pl-som,
.misa198-code-color-theme-one-dark .pl-va,
.misa198-code-color-theme-one-dark .pl-vpf,
.misa198-code-color-theme-one-dark .pl-vpu,
.misa198-code-color-theme-one-dark .pl-mdr {
  color: #aab1bf !important;
}
.misa198-code-color-theme-one-dark .pl-mb,
.misa198-code-color-theme-one-dark .pl-pdb {
  font-weight: 700 !important;
}
.misa198-code-color-theme-one-dark .pl-c,
.misa198-code-color-theme-one-dark .pl-c span,
.misa198-code-color-theme-one-dark .pl-pdc {
  color: #5b6270 !important;
  font-style: italic !important;
}
.misa198-code-color-theme-one-dark .pl-sr .pl-cce {
  color: #56b5c2 !important;
  font-weight: 400 !important;
}
.misa198-code-color-theme-one-dark .pl-ef,
.misa198-code-color-theme-one-dark .pl-en,
.misa198-code-color-theme-one-dark .pl-enf,
.misa198-code-color-theme-one-dark .pl-eoai,
.misa198-code-color-theme-one-dark .pl-kos,
.misa198-code-color-theme-one-dark .pl-mh .pl-pdh,
.misa198-code-color-theme-one-dark .pl-mr {
  color: #61afef !important;
}
.misa198-code-color-theme-one-dark .pl-ens,
.misa198-code-color-theme-one-dark .pl-vi {
  color: #be5046 !important;
}
.misa198-code-color-theme-one-dark .pl-enti,
.misa198-code-color-theme-one-dark .pl-mai .pl-sf,
.misa198-code-color-theme-one-dark .pl-ml,
.misa198-code-color-theme-one-dark .pl-sf,
.misa198-code-color-theme-one-dark .pl-sr,
.misa198-code-color-theme-one-dark .pl-sr .pl-sra,
.misa198-code-color-theme-one-dark .pl-src,
.misa198-code-color-theme-one-dark .pl-st,
.misa198-code-color-theme-one-dark .pl-vo {
  color: #56b5c2 !important;
}
.misa198-code-color-theme-one-dark .pl-eoi,
.misa198-code-color-theme-one-dark .pl-mri,
.misa198-code-color-theme-one-dark .pl-pds,
.misa198-code-color-theme-one-dark .pl-pse .pl-s1,
.misa198-code-color-theme-one-dark .pl-s,
.misa198-code-color-theme-one-dark .pl-s1 {
  color: #97c279 !important;
}
.misa198-code-color-theme-one-dark .pl-k,
.misa198-code-color-theme-one-dark .pl-kolp,
.misa198-code-color-theme-one-dark .pl-mc,
.misa198-code-color-theme-one-dark .pl-pde {
  color: #c578dd !important;
}
.misa198-code-color-theme-one-dark .pl-mi,
.misa198-code-color-theme-one-dark .pl-pdi {
  color: #c578dd !important;
  font-style: italic !important;
}
.misa198-code-color-theme-one-dark .pl-mp,
.misa198-code-color-theme-one-dark .pl-stp {
  color: #818896 !important;
}
.misa198-code-color-theme-one-dark .pl-mdh,
.misa198-code-color-theme-one-dark .pl-mdi,
.misa198-code-color-theme-one-dark .pl-mdr {
  font-weight: 400 !important;
}
.misa198-code-color-theme-one-dark .pl-mdht,
.misa198-code-color-theme-one-dark .pl-mi1 {
  color: #97c279 !important;
  background: #020 !important;
}
.misa198-code-color-theme-one-dark .pl-md,
.misa198-code-color-theme-one-dark .pl-mdhf {
  color: #df6b75 !important;
  background: #200 !important;
}
.misa198-code-color-theme-one-dark .pl-corl {
  color: #df6b75 !important;
  text-decoration: underline !important;
}
.misa198-code-color-theme-one-dark .pl-ib {
  background: #df6b75 !important;
}
.misa198-code-color-theme-one-dark .pl-ii {
  background: #e0c184 !important;
  color: #fff !important;
}
.misa198-code-color-theme-one-dark .pl-iu {
  background: #e05151 !important;
}
.misa198-code-color-theme-one-dark .pl-ms1 {
  color: #aab1bf !important;
  background: #373b41 !important;
}
.misa198-code-color-theme-one-dark .pl-c1,
.misa198-code-color-theme-one-dark .pl-cn,
.misa198-code-color-theme-one-dark .pl-e,
.misa198-code-color-theme-one-dark .pl-eoa,
.misa198-code-color-theme-one-dark .pl-eoac,
.misa198-code-color-theme-one-dark .pl-eoac .pl-pde,
.misa198-code-color-theme-one-dark .pl-kou,
.misa198-code-color-theme-one-dark .pl-mm,
.misa198-code-color-theme-one-dark .pl-mp .pl-s3,
.misa198-code-color-theme-one-dark .pl-mq,
.misa198-code-color-theme-one-dark .pl-s3,
.misa198-code-color-theme-one-dark .pl-sok,
.misa198-code-color-theme-one-dark .pl-sv,
.misa198-code-color-theme-one-dark .pl-mb {
  color: #d19965 !important;
}
.misa198-code-color-theme-one-dark .pl-enc,
.misa198-code-color-theme-one-dark .pl-entc,
.misa198-code-color-theme-one-dark .pl-pse .pl-s2,
.misa198-code-color-theme-one-dark .pl-s2,
.misa198-code-color-theme-one-dark .pl-sc,
.misa198-code-color-theme-one-dark .pl-smp,
.misa198-code-color-theme-one-dark .pl-sr .pl-sre,
.misa198-code-color-theme-one-dark .pl-stj,
.misa198-code-color-theme-one-dark .pl-v,
.misa198-code-color-theme-one-dark .pl-pdb {
  color: #e4bf7a !important;
}
.misa198-code-color-theme-one-dark .pl-ent,
.misa198-code-color-theme-one-dark .pl-entl,
.misa198-code-color-theme-one-dark .pl-entm,
.misa198-code-color-theme-one-dark .pl-mh,
.misa198-code-color-theme-one-dark .pl-pdv,
.misa198-code-color-theme-one-dark .pl-smi,
.misa198-code-color-theme-one-dark .pl-sol,
.misa198-code-color-theme-one-dark .pl-mdh,
.misa198-code-color-theme-one-dark .pl-mdi {
  color: #df6b75 !important;
}
