.misa198-code-color-theme-pastel-on-dark .highlight {
  background: #2c2828;
}
.misa198-code-color-theme-pastel-on-dark .blob-num,
.misa198-code-color-theme-pastel-on-dark .blob-code-inner,
.misa198-code-color-theme-pastel-on-dark .pl-e,
.misa198-code-color-theme-pastel-on-dark .pl-eoa,
.misa198-code-color-theme-pastel-on-dark .pl-eoai,
.misa198-code-color-theme-pastel-on-dark .pl-eoai .pl-pde,
.misa198-code-color-theme-pastel-on-dark .pl-ko,
.misa198-code-color-theme-pastel-on-dark .pl-kolp,
.misa198-code-color-theme-pastel-on-dark .pl-mc,
.misa198-code-color-theme-pastel-on-dark .pl-mr,
.misa198-code-color-theme-pastel-on-dark .pl-ms,
.misa198-code-color-theme-pastel-on-dark .pl-s3,
.misa198-code-color-theme-pastel-on-dark .pl-sok {
  color: #e6e1dc;
}
.misa198-code-color-theme-pastel-on-dark .pl-cce {
  color: #afa472;
}
.misa198-code-color-theme-pastel-on-dark .pl-cn {
  color: #ccc;
}
.misa198-code-color-theme-pastel-on-dark .pl-enti {
  color: #aeb2f8;
  font-weight: 700;
}
.misa198-code-color-theme-pastel-on-dark .pl-sra {
  color: #797878;
}
.misa198-code-color-theme-pastel-on-dark .pl-mdr {
  color: #757ad8;
  font-weight: 400;
}
.misa198-code-color-theme-pastel-on-dark .pl-ms1 {
  background: #bebf55;
}
.misa198-code-color-theme-pastel-on-dark .pl-c,
.misa198-code-color-theme-pastel-on-dark .pl-c span,
.misa198-code-color-theme-pastel-on-dark .pl-pdc {
  color: #a6c6ff;
  font-style: italic;
}
.misa198-code-color-theme-pastel-on-dark .pl-c1,
.misa198-code-color-theme-pastel-on-dark .pl-st,
.misa198-code-color-theme-pastel-on-dark .pl-vo {
  color: #a5c261;
}
.misa198-code-color-theme-pastel-on-dark .pl-coc,
.misa198-code-color-theme-pastel-on-dark .pl-en,
.misa198-code-color-theme-pastel-on-dark .pl-enc,
.misa198-code-color-theme-pastel-on-dark .pl-ens,
.misa198-code-color-theme-pastel-on-dark .pl-k,
.misa198-code-color-theme-pastel-on-dark .pl-kos,
.misa198-code-color-theme-pastel-on-dark .pl-kou,
.misa198-code-color-theme-pastel-on-dark .pl-mh .pl-pdh,
.misa198-code-color-theme-pastel-on-dark .pl-mp,
.misa198-code-color-theme-pastel-on-dark .pl-mp1 .pl-sf,
.misa198-code-color-theme-pastel-on-dark .pl-mq,
.misa198-code-color-theme-pastel-on-dark .pl-pde,
.misa198-code-color-theme-pastel-on-dark .pl-pse,
.misa198-code-color-theme-pastel-on-dark .pl-pse .pl-s2,
.misa198-code-color-theme-pastel-on-dark .pl-s,
.misa198-code-color-theme-pastel-on-dark .pl-mp .pl-s3,
.misa198-code-color-theme-pastel-on-dark .pl-sc,
.misa198-code-color-theme-pastel-on-dark .pl-stp,
.misa198-code-color-theme-pastel-on-dark .pl-sv,
.misa198-code-color-theme-pastel-on-dark .pl-v,
.misa198-code-color-theme-pastel-on-dark .pl-vi,
.misa198-code-color-theme-pastel-on-dark .pl-vpf,
.misa198-code-color-theme-pastel-on-dark .pl-mri,
.misa198-code-color-theme-pastel-on-dark .pl-va,
.misa198-code-color-theme-pastel-on-dark .pl-vpu,
.misa198-code-color-theme-pastel-on-dark .highlight-text-tex .pl-s3 {
  color: #757ad8;
}
.misa198-code-color-theme-pastel-on-dark .pl-cos,
.misa198-code-color-theme-pastel-on-dark .pl-ml,
.misa198-code-color-theme-pastel-on-dark .pl-sol {
  color: #66a968;
}
.misa198-code-color-theme-pastel-on-dark .pl-ef,
.misa198-code-color-theme-pastel-on-dark .pl-enf,
.misa198-code-color-theme-pastel-on-dark .pl-enm,
.misa198-code-color-theme-pastel-on-dark .pl-entc,
.misa198-code-color-theme-pastel-on-dark .pl-entm,
.misa198-code-color-theme-pastel-on-dark .pl-eoac,
.misa198-code-color-theme-pastel-on-dark .pl-eoac .pl-pde,
.misa198-code-color-theme-pastel-on-dark .pl-eoi,
.misa198-code-color-theme-pastel-on-dark .pl-mai .pl-sf,
.misa198-code-color-theme-pastel-on-dark .pl-mm,
.misa198-code-color-theme-pastel-on-dark .pl-pdv,
.misa198-code-color-theme-pastel-on-dark .pl-smc,
.misa198-code-color-theme-pastel-on-dark .pl-som,
.misa198-code-color-theme-pastel-on-dark .pl-sr {
  color: #aeb2f8;
}
.misa198-code-color-theme-pastel-on-dark .pl-ent,
.misa198-code-color-theme-pastel-on-dark .highlight-text-html-basic .pl-e {
  color: #6782d3;
}
.misa198-code-color-theme-pastel-on-dark .pl-mb,
.misa198-code-color-theme-pastel-on-dark .pl-pdb {
  color: #66a968;
  font-weight: 700;
}
.misa198-code-color-theme-pastel-on-dark .pl-mi,
.misa198-code-color-theme-pastel-on-dark .pl-pdi {
  color: #e6e1dc;
  font-style: italic;
}
.misa198-code-color-theme-pastel-on-dark .pl-pdc1,
.misa198-code-color-theme-pastel-on-dark .pl-scp {
  color: #4fb7c5;
}
.misa198-code-color-theme-pastel-on-dark .pl-pds,
.misa198-code-color-theme-pastel-on-dark .pl-s1,
.misa198-code-color-theme-pastel-on-dark .highlight-source-css .pl-v {
  color: #ad9361;
}
.misa198-code-color-theme-pastel-on-dark .pl-s2,
.misa198-code-color-theme-pastel-on-dark .pl-stj {
  color: #8f938f;
}
.misa198-code-color-theme-pastel-on-dark .pl-sf,
.misa198-code-color-theme-pastel-on-dark .pl-smi,
.misa198-code-color-theme-pastel-on-dark .pl-smp,
.misa198-code-color-theme-pastel-on-dark .pl-mo,
.misa198-code-color-theme-pastel-on-dark .pl-entl {
  color: #bebf55;
}
.misa198-code-color-theme-pastel-on-dark .pl-src,
.misa198-code-color-theme-pastel-on-dark .pl-sre {
  color: #e9c062;
}
.misa198-code-color-theme-pastel-on-dark .pl-mi1,
.misa198-code-color-theme-pastel-on-dark .pl-mdht {
  color: #66a968;
  background: rgba(0, 64, 0, 0.5);
}
.misa198-code-color-theme-pastel-on-dark .pl-md,
.misa198-code-color-theme-pastel-on-dark .pl-mdhf {
  color: #aeb2f8;
  background: rgba(64, 0, 0, 0.5);
}
.misa198-code-color-theme-pastel-on-dark .pl-mdh,
.misa198-code-color-theme-pastel-on-dark .pl-mdi {
  color: #bebf55;
  font-weight: 400;
}
.misa198-code-color-theme-pastel-on-dark .pl-ib,
.misa198-code-color-theme-pastel-on-dark .pl-iu {
  background: #aeb2f8;
}
.misa198-code-color-theme-pastel-on-dark .pl-id,
.misa198-code-color-theme-pastel-on-dark .pl-ii {
  background: #aeb2f8;
  color: #fff;
}
