.misa198-code-color-theme-solarized-light .highlight {
  background: #fdf6e3 !important;
}
.misa198-code-color-theme-solarized-light .blob-num,
.misa198-code-color-theme-solarized-light .blob-code-inner,
.misa198-code-color-theme-solarized-light .pl-s1 .pl-s2,
.misa198-code-color-theme-solarized-light .pl-smi,
.misa198-code-color-theme-solarized-light .pl-smp,
.misa198-code-color-theme-solarized-light .pl-stj,
.misa198-code-color-theme-solarized-light .pl-vo,
.misa198-code-color-theme-solarized-light .pl-vpf {
  color: #657b83 !important;
}
.misa198-code-color-theme-solarized-light .pl-c,
.misa198-code-color-theme-solarized-light .pl-c span {
  color: #93a1a1 !important;
  font-style: italic !important;
}
.misa198-code-color-theme-solarized-light .pl-mb {
  color: #2aa198 !important;
  font-weight: 700 !important;
}
.misa198-code-color-theme-solarized-light .pl-mh .pl-en {
  color: #cb4b16 !important;
  font-weight: 700 !important;
}
.misa198-code-color-theme-solarized-light .pl-mi {
  color: #859900 !important;
  font-style: italic !important;
}
.misa198-code-color-theme-solarized-light .pl-c1,
.misa198-code-color-theme-solarized-light .pl-pds,
.misa198-code-color-theme-solarized-light .pl-s1,
.misa198-code-color-theme-solarized-light .pl-s1 .pl-pse .pl-s2,
.misa198-code-color-theme-solarized-light .pl-sv {
  color: #2aa198 !important;
}
.misa198-code-color-theme-solarized-light .pl-e,
.misa198-code-color-theme-solarized-light .pl-en,
.misa198-code-color-theme-solarized-light .pl-ent,
.misa198-code-color-theme-solarized-light .pl-s,
.misa198-code-color-theme-solarized-light .pl-v {
  color: #268bd2 !important;
}
.misa198-code-color-theme-solarized-light .pl-k,
.misa198-code-color-theme-solarized-light .pl-mdh,
.misa198-code-color-theme-solarized-light .pl-mdr,
.misa198-code-color-theme-solarized-light .pl-ml,
.misa198-code-color-theme-solarized-light .pl-mm,
.misa198-code-color-theme-solarized-light .pl-mo,
.misa198-code-color-theme-solarized-light .pl-mp,
.misa198-code-color-theme-solarized-light .pl-mr,
.misa198-code-color-theme-solarized-light .pl-ms,
.misa198-code-color-theme-solarized-light .pl-s1 .pl-v,
.misa198-code-color-theme-solarized-light .pl-s3 {
  color: #859900 !important;
}
.misa198-code-color-theme-solarized-light .pl-mh,
.misa198-code-color-theme-solarized-light .pl-sc,
.misa198-code-color-theme-solarized-light .pl-sr .pl-cce {
  color: #cb4b16 !important;
}
.misa198-code-color-theme-solarized-light .pl-mq,
.misa198-code-color-theme-solarized-light .highlight-source-css .pl-k {
  color: #93a1a1 !important;
}
.misa198-code-color-theme-solarized-light .pl-sr,
.misa198-code-color-theme-solarized-light .pl-sr .pl-sra,
.misa198-code-color-theme-solarized-light .pl-sr .pl-sre,
.misa198-code-color-theme-solarized-light .pl-src {
  color: #d30102 !important;
}
.misa198-code-color-theme-solarized-light .pl-st,
.misa198-code-color-theme-solarized-light .highlight-source-c\+\+ .pl-s {
  color: #dc322f !important;
}
.misa198-code-color-theme-solarized-light .pl-mi1,
.misa198-code-color-theme-solarized-light .pl-mdht {
  color: #657b83 !important;
  background: rgba(0, 64, 0, 0.5) !important;
}
.misa198-code-color-theme-solarized-light .pl-md,
.misa198-code-color-theme-solarized-light .pl-mdhf,
.misa198-code-color-theme-solarized-light .pl-id,
.misa198-code-color-theme-solarized-light .pl-ii {
  color: #657b83 !important;
  background: rgba(64, 0, 0, 0.5) !important;
}
