.misa198-code-color-theme-solarized-dark .highlight {
  background: #002b36 !important;
}
.misa198-code-color-theme-solarized-dark .blob-num,
.misa198-code-color-theme-solarized-dark .blob-code-inner,
.misa198-code-color-theme-solarized-dark .pl-s1 .pl-s2,
.misa198-code-color-theme-solarized-dark .pl-smi,
.misa198-code-color-theme-solarized-dark .pl-smp,
.misa198-code-color-theme-solarized-dark .pl-stj,
.misa198-code-color-theme-solarized-dark .pl-vo,
.misa198-code-color-theme-solarized-dark .pl-vpf {
  color: #839496 !important;
}
.misa198-code-color-theme-solarized-dark .pl-c,
.misa198-code-color-theme-solarized-dark .pl-c span {
  color: #586e75 !important;
  font-style: italic !important;
}
.misa198-code-color-theme-solarized-dark .pl-mb {
  color: #2aa198 !important;
  font-weight: 700 !important;
}
.misa198-code-color-theme-solarized-dark .pl-mh .pl-en {
  color: #cb4b16 !important;
  font-weight: 700 !important;
}
.misa198-code-color-theme-solarized-dark .pl-mi {
  color: #859900 !important;
  font-style: italic !important;
}
.misa198-code-color-theme-solarized-dark .pl-c1,
.misa198-code-color-theme-solarized-dark .pl-pds,
.misa198-code-color-theme-solarized-dark .pl-s1,
.misa198-code-color-theme-solarized-dark .pl-s1 .pl-pse .pl-s2,
.misa198-code-color-theme-solarized-dark .pl-sv {
  color: #2aa198 !important;
}
.misa198-code-color-theme-solarized-dark .pl-e,
.misa198-code-color-theme-solarized-dark .pl-en,
.misa198-code-color-theme-solarized-dark .pl-ent,
.misa198-code-color-theme-solarized-dark .pl-s,
.misa198-code-color-theme-solarized-dark .pl-v {
  color: #268bd2 !important;
}
.misa198-code-color-theme-solarized-dark .pl-k,
.misa198-code-color-theme-solarized-dark .pl-mdh,
.misa198-code-color-theme-solarized-dark .pl-mdr,
.misa198-code-color-theme-solarized-dark .pl-ml,
.misa198-code-color-theme-solarized-dark .pl-mm,
.misa198-code-color-theme-solarized-dark .pl-mo,
.misa198-code-color-theme-solarized-dark .pl-mp,
.misa198-code-color-theme-solarized-dark .pl-mr,
.misa198-code-color-theme-solarized-dark .pl-ms,
.misa198-code-color-theme-solarized-dark .pl-s1 .pl-v,
.misa198-code-color-theme-solarized-dark .pl-s3 {
  color: #859900 !important;
}
.misa198-code-color-theme-solarized-dark .pl-mh,
.misa198-code-color-theme-solarized-dark .pl-sc,
.misa198-code-color-theme-solarized-dark .pl-sr .pl-cce {
  color: #cb4b16 !important;
}
.misa198-code-color-theme-solarized-dark .pl-mq,
.misa198-code-color-theme-solarized-dark .highlight-source-css .pl-k {
  color: #586e75 !important;
}
.misa198-code-color-theme-solarized-dark .pl-sr,
.misa198-code-color-theme-solarized-dark .pl-sr .pl-sra,
.misa198-code-color-theme-solarized-dark .pl-sr .pl-sre,
.misa198-code-color-theme-solarized-dark .pl-src {
  color: #d30102 !important;
}
.misa198-code-color-theme-solarized-dark .pl-st,
.misa198-code-color-theme-solarized-dark .highlight-source-c\+\+ .pl-s {
  color: #dc322f !important;
}
.misa198-code-color-theme-solarized-dark .pl-mi1,
.misa198-code-color-theme-solarized-dark .pl-mdht {
  color: #839496 !important;
  background: rgba(0, 64, 0, 0.5) !important;
}
.misa198-code-color-theme-solarized-dark .pl-md,
.misa198-code-color-theme-solarized-dark .pl-mdhf,
.misa198-code-color-theme-solarized-dark .pl-id,
.misa198-code-color-theme-solarized-dark .pl-ii {
  color: #839496 !important;
  background: rgba(64, 0, 0, 0.5) !important;
}
