.misa198-code-color-theme-terminal .highlight {
  background: #000;
}
.misa198-code-color-theme-terminal .blob-num,
.misa198-code-color-theme-terminal .blob-code-inner,
.misa198-code-color-theme-terminal .pl-en,
.misa198-code-color-theme-terminal .pl-sc,
.misa198-code-color-theme-terminal .highlight-source-css .pl-k,
.misa198-code-color-theme-terminal .highlight-source-css .pl-ent {
  color: #dedede;
}
.misa198-code-color-theme-terminal .pl-c,
.misa198-code-color-theme-terminal .pl-c span {
  color: #ff4500;
  font-style: italic;
}
.misa198-code-color-theme-terminal .pl-mb {
  color: #e78c45;
  font-weight: 700;
}
.misa198-code-color-theme-terminal .pl-mh .pl-en {
  color: #b9ca4a;
  font-weight: 700;
}
.misa198-code-color-theme-terminal .pl-mi {
  color: #ff6347;
  font-style: italic;
}
.misa198-code-color-theme-terminal .pl-mq {
  color: #ff4500;
}
.misa198-code-color-theme-terminal .pl-id {
  color: #ced2cf;
  background: #b798bf;
}
.misa198-code-color-theme-terminal .pl-ii {
  color: #ff0;
  background: red;
}
.misa198-code-color-theme-terminal .highlight-source-js .pl-k {
  color: #ff1493;
}
.misa198-code-color-theme-terminal .pl-c1,
.misa198-code-color-theme-terminal .pl-s1 .pl-pse .pl-s2,
.misa198-code-color-theme-terminal .pl-sv,
.misa198-code-color-theme-terminal .pl-vpf {
  color: #e78c45;
}
.misa198-code-color-theme-terminal .pl-e,
.misa198-code-color-theme-terminal .pl-s3,
.misa198-code-color-theme-terminal .pl-sr,
.misa198-code-color-theme-terminal .pl-sr .pl-sra,
.misa198-code-color-theme-terminal .pl-sr .pl-sre,
.misa198-code-color-theme-terminal .pl-src,
.misa198-code-color-theme-terminal .pl-v,
.misa198-code-color-theme-terminal .highlight-text-html-basic .pl-ent,
.misa198-code-color-theme-terminal .highlight-text-html-php .pl-vo {
  color: #d54e53;
}
.misa198-code-color-theme-terminal .pl-ent,
.misa198-code-color-theme-terminal .pl-k,
.misa198-code-color-theme-terminal .pl-mdh,
.misa198-code-color-theme-terminal .pl-mdr,
.misa198-code-color-theme-terminal .pl-ml,
.misa198-code-color-theme-terminal .pl-mm,
.misa198-code-color-theme-terminal .pl-mo,
.misa198-code-color-theme-terminal .pl-mp,
.misa198-code-color-theme-terminal .pl-mr,
.misa198-code-color-theme-terminal .pl-ms,
.misa198-code-color-theme-terminal .pl-s,
.misa198-code-color-theme-terminal .pl-s1 .pl-v,
.misa198-code-color-theme-terminal .pl-st {
  color: #ff6347;
}
.misa198-code-color-theme-terminal .pl-mh,
.misa198-code-color-theme-terminal .pl-pds,
.misa198-code-color-theme-terminal .pl-s1,
.misa198-code-color-theme-terminal .pl-sr .pl-cce {
  color: #b9ca4a;
}
.misa198-code-color-theme-terminal .pl-s1 .pl-s2,
.misa198-code-color-theme-terminal .pl-smi,
.misa198-code-color-theme-terminal .pl-smp,
.misa198-code-color-theme-terminal .pl-stj,
.misa198-code-color-theme-terminal .pl-vo,
.misa198-code-color-theme-terminal .highlight-text-html-php .pl-s3,
.misa198-code-color-theme-terminal .highlight-source-python .pl-s3 {
  color: #7aa6da;
}
.misa198-code-color-theme-terminal .pl-mi1,
.misa198-code-color-theme-terminal .pl-mdht {
  color: #dedede;
  background: rgba(0, 64, 0, 0.5);
}
.misa198-code-color-theme-terminal .pl-md,
.misa198-code-color-theme-terminal .pl-mdhf {
  color: #dedede;
  background: red;
}
.misa198-code-color-theme-terminal .highlight-source-css .pl-s3,
.misa198-code-color-theme-terminal .highlight-source-css .pl-sc {
  color: #e7c547;
}
