.misa198-code-color-theme-tomorrow-night .highlight {
  background: #1d1f21;
}
.misa198-code-color-theme-tomorrow-night .blob-num,
.misa198-code-color-theme-tomorrow-night .blob-code-inner {
  color: #c5c8c6;
}
.misa198-code-color-theme-tomorrow-night .pl-enti {
  color: #f0c674;
  font-weight: 700;
}
.misa198-code-color-theme-tomorrow-night .pl-s3 {
  color: #81a2be;
}
.misa198-code-color-theme-tomorrow-night .pl-sf {
  color: #dad085;
}
.misa198-code-color-theme-tomorrow-night .pl-mdr {
  color: #de935f;
  font-weight: 400;
}
.misa198-code-color-theme-tomorrow-night .pl-ms1 {
  background: #c5c8c6;
}
.misa198-code-color-theme-tomorrow-night .pl-c,
.misa198-code-color-theme-tomorrow-night .pl-c span,
.misa198-code-color-theme-tomorrow-night .pl-pdc {
  color: #969896;
  font-style: italic;
}
.misa198-code-color-theme-tomorrow-night .pl-c1,
.misa198-code-color-theme-tomorrow-night .pl-cce,
.misa198-code-color-theme-tomorrow-night .pl-cn,
.misa198-code-color-theme-tomorrow-night .pl-coc,
.misa198-code-color-theme-tomorrow-night .pl-enc,
.misa198-code-color-theme-tomorrow-night .pl-ens,
.misa198-code-color-theme-tomorrow-night .pl-kos,
.misa198-code-color-theme-tomorrow-night .pl-kou,
.misa198-code-color-theme-tomorrow-night .pl-mh .pl-pdh,
.misa198-code-color-theme-tomorrow-night .pl-mq,
.misa198-code-color-theme-tomorrow-night .pl-pdc1,
.misa198-code-color-theme-tomorrow-night .pl-pde,
.misa198-code-color-theme-tomorrow-night .pl-pse,
.misa198-code-color-theme-tomorrow-night .pl-pse .pl-s2,
.misa198-code-color-theme-tomorrow-night .pl-scp,
.misa198-code-color-theme-tomorrow-night .pl-stp,
.misa198-code-color-theme-tomorrow-night .pl-sv,
.misa198-code-color-theme-tomorrow-night .pl-v,
.misa198-code-color-theme-tomorrow-night .pl-vi,
.misa198-code-color-theme-tomorrow-night .pl-vpf,
.misa198-code-color-theme-tomorrow-night .pl-mri,
.misa198-code-color-theme-tomorrow-night .pl-va,
.misa198-code-color-theme-tomorrow-night .pl-vpu {
  color: #de935f;
}
.misa198-code-color-theme-tomorrow-night .pl-cos,
.misa198-code-color-theme-tomorrow-night .pl-ml,
.misa198-code-color-theme-tomorrow-night .pl-pds,
.misa198-code-color-theme-tomorrow-night .pl-s1,
.misa198-code-color-theme-tomorrow-night .pl-sol {
  color: #b5bd68;
}
.misa198-code-color-theme-tomorrow-night .pl-e,
.misa198-code-color-theme-tomorrow-night .pl-ef,
.misa198-code-color-theme-tomorrow-night .pl-en,
.misa198-code-color-theme-tomorrow-night .pl-enf,
.misa198-code-color-theme-tomorrow-night .pl-enm,
.misa198-code-color-theme-tomorrow-night .pl-entc,
.misa198-code-color-theme-tomorrow-night .pl-eoi,
.misa198-code-color-theme-tomorrow-night .pl-smc {
  color: #f0c674;
}
.misa198-code-color-theme-tomorrow-night .pl-ent,
.misa198-code-color-theme-tomorrow-night .pl-eoa,
.misa198-code-color-theme-tomorrow-night .pl-eoai,
.misa198-code-color-theme-tomorrow-night .pl-eoai .pl-pde,
.misa198-code-color-theme-tomorrow-night .pl-k,
.misa198-code-color-theme-tomorrow-night .pl-ko,
.misa198-code-color-theme-tomorrow-night .pl-kolp,
.misa198-code-color-theme-tomorrow-night .pl-mc,
.misa198-code-color-theme-tomorrow-night .pl-mr,
.misa198-code-color-theme-tomorrow-night .pl-ms,
.misa198-code-color-theme-tomorrow-night .pl-s,
.misa198-code-color-theme-tomorrow-night .pl-mp .pl-s3,
.misa198-code-color-theme-tomorrow-night .pl-sok,
.misa198-code-color-theme-tomorrow-night .pl-sra,
.misa198-code-color-theme-tomorrow-night .pl-src,
.misa198-code-color-theme-tomorrow-night .pl-sre,
.misa198-code-color-theme-tomorrow-night .pl-st {
  color: #b294bb;
}
.misa198-code-color-theme-tomorrow-night .pl-entm,
.misa198-code-color-theme-tomorrow-night .pl-eoac,
.misa198-code-color-theme-tomorrow-night .pl-eoac .pl-pde,
.misa198-code-color-theme-tomorrow-night .pl-mai .pl-sf,
.misa198-code-color-theme-tomorrow-night .pl-mm,
.misa198-code-color-theme-tomorrow-night .pl-pdv,
.misa198-code-color-theme-tomorrow-night .pl-som,
.misa198-code-color-theme-tomorrow-night .pl-sr,
.misa198-code-color-theme-tomorrow-night .pl-vo {
  color: #c66;
}
.misa198-code-color-theme-tomorrow-night .pl-mb,
.misa198-code-color-theme-tomorrow-night .pl-pdb {
  color: #b5bd68;
  font-weight: 700;
}
.misa198-code-color-theme-tomorrow-night .pl-mi,
.misa198-code-color-theme-tomorrow-night .pl-pdi {
  color: #b294bb;
  font-style: italic;
}
.misa198-code-color-theme-tomorrow-night .pl-mp,
.misa198-code-color-theme-tomorrow-night .pl-mp1 .pl-sf {
  color: #81a2be;
}
.misa198-code-color-theme-tomorrow-night .pl-s2,
.misa198-code-color-theme-tomorrow-night .pl-sc,
.misa198-code-color-theme-tomorrow-night .pl-smi,
.misa198-code-color-theme-tomorrow-night .pl-smp,
.misa198-code-color-theme-tomorrow-night .pl-stj,
.misa198-code-color-theme-tomorrow-night .pl-mo,
.misa198-code-color-theme-tomorrow-night .pl-entl {
  color: #c5c8c6;
}
.misa198-code-color-theme-tomorrow-night .pl-mi1,
.misa198-code-color-theme-tomorrow-night .pl-mdht {
  color: #8f9d6a;
  background: rgba(0, 64, 0, 0.5);
}
.misa198-code-color-theme-tomorrow-night .pl-md,
.misa198-code-color-theme-tomorrow-night .pl-mdhf {
  color: #c66;
  background: rgba(64, 0, 0, 0.5);
}
.misa198-code-color-theme-tomorrow-night .pl-mdh,
.misa198-code-color-theme-tomorrow-night .pl-mdi {
  color: #c66;
  font-weight: 400;
}
.misa198-code-color-theme-tomorrow-night .pl-ib,
.misa198-code-color-theme-tomorrow-night .pl-iu {
  background: #c66;
}
.misa198-code-color-theme-tomorrow-night .pl-id,
.misa198-code-color-theme-tomorrow-night .pl-ii {
  background: #c66;
  color: #fff;
}
