@import '../../node_modules/file-icons-js/css/style.css';

.jstree-container-ul .text-icon {
  color: #c9d2d9;
}

.text-icon::before,
.database-icon::before,
.binary-icon::before,
.image-icon::before {
  left: 2px;
}

.jstree-icon.jstree-themeicon.jstree-themeicon-custom.blob.octotree-default-icon.octotree-icon-file {
  color: #8b949e;
}

.dark {
  filter: brightness(125%) contrast(150%) drop-shadow(0 0 0 #fff)
    drop-shadow(1px 1px 1px #444);
}

.octicon.octicon-file-directory {
  color: #6cb5fe;
}

.misa198-octotree-icon {
  margin-right: 3px;
}
