.octotree-sidebar.octotree-github-sidebar
  .octotree-views
  .octotree-view.octotree-tree-view
  .octotree-view-header {
  background: var(--color-header-bg) !important;
}

.ot-octotree-sidebar {
  background-color: var(--color-canvas-default) !important;
}

.octotree-sidebar.octotree-github-sidebar
  .octotree-views
  .octotree-view.octotree-tree-view
  .jstree-anchor
  div {
  color: var(--color-fg-default) !important;
}

.jstree-node.jstree-leaf:hover .jstree-icon.blob:before {
  content: '' !important;
  font-family: octotree !important;
  font-size: 15px !important;
  top: 0px !important;
  width: 16px !important;
  display: inline-block !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 1 !important;
  position: relative !important;
  text-align: center !important;
  text-transform: none !important;
  -webkit-font-smoothing: antialiased;
  background-image: none !important;
  color: rgb(172, 65, 66) !important ;
  font-variant: normal !important;
}

.jstree-container-ul .text-icon {
  color: #c9d2d9;
}

.jstree-icon.jstree-themeicon.jstree-themeicon-custom.blob.octotree-default-icon.octotree-icon-file {
  color: #8b949e;
}

.dark {
  filter: brightness(125%) contrast(150%) drop-shadow(0 0 0 #fff)
    drop-shadow(1px 1px 1px #444);
}
