* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #c8d0d8;
}

body {
  width: 300px;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  color: #c8d0d8;
  background-color: #0c0c0f;
  user-select: none;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &__icon {
      width: 40px;
      height: 40px;
    }

    &__title {
      margin-left: 10px;
      font-size: 1.17em;
    }
  }

  .main {
    padding: 0 14px 24px 14px;

    .session {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;

      &__label {
        font-size: 1.17em;
      }

      .select {
        width: 150px;
        font-size: 14px;
        color: #fff;
        padding: 14px 10px;
        border-radius: 6px;
        border: 1px solid #383838;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background: transparent;
        background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7 10L12 15L17 10H7Z" fill="white"/></svg>');
        background-repeat: no-repeat;
        background-position-x: 99%;
        background-position-y: 10px;

        option {
          background-color: #2f2f35;
          color: #fff;
        }
      }

      .form-switch {
        display: inline-block;
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;

        i {
          position: relative;
          display: inline-block;
          width: 46px;
          height: 26px;
          background-color: #ccc;
          border-radius: 23px;
          vertical-align: text-bottom;
          transition: all 0.3s linear;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 42px;
            height: 22px;
            background-color: #ccc;
            border-radius: 11px;
            transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
            transition: all 0.25s linear;
          }

          ::after {
            content: '';
            position: absolute;
            left: 0;
            width: 22px;
            height: 22px;
            background-color: #fff;
            border-radius: 11px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
            transform: translate3d(2px, 2px, 0);
            transition: all 0.2s ease-in-out;
          }
        }

        &:active i::after {
          width: 28px;
          transform: translate3d(2px, 2px, 0);
        }

        &:active input:checked + i::after {
          transform: translate3d(16px, 2px, 0);
        }

        input {
          display: none;

          &:checked + i {
            background: linear-gradient(
              270deg,
              rgba(46, 115, 255, 1) 0%,
              rgba(254, 0, 51, 1) 100%
            );
          }

          &:checked + i::before {
            transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
          }

          &:checked + i::after {
            transform: translate3d(22px, 2px, 0);
          }
        }
      }

      .button-wrapper {
        width: 100%;
        height: 40px;
        margin-top: 10px;
        padding: 1px;
        background: linear-gradient(
          270deg,
          rgba(46, 115, 255, 1) 0%,
          rgba(254, 0, 51, 1) 100%
        );
        border-radius: 4px;
        animation: appear 0.3s;
      }
    }

    .session--octotree {
      margin-top: 25px;
    }

    #misa198Reload.hide {
      display: none;
    }

    .refresh-button {
      width: 100%;
      height: 100%;
      background-color: #0c0c0f;
      border-radius: 4px;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      span {
        background: linear-gradient(
          270deg,
          rgba(46, 115, 255, 1) 0%,
          rgba(254, 0, 51, 1) 100%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
